# Passwords and user credentials.
# Copy to credentials.cfg before modifying.
# This file should not be checked into version control with real passwords.
# Passwords can be generated with `tr -cd '[:alnum:]' < /dev/urandom | fold -w30 | head -n1`

[EppicConfig]
db_user="user"
db_password="password"
db_root_password="password"
