# Passwords and user credentials.
# Copy to credentials.cfg before modifying.
# This file should not be checked into version control with real passwords.
# Passwords can be generated with `tr -cd '[:alnum:]' < /dev/urandom | fold -w30 | head -n1`

[EppicConfig]
# MySQL user with table permissions
mysql_user=user
mysql_password=password
# MySQL user with database create and grant permissions
#mysql_root_user=root
#mysql_root_password=password
