# Example eppicpipeline config file
# Copy to luigi.cfg before modifying!

# Include variables in single brackets (only within the EppicConfig section)
# This works by passing all values through python's str.format()
# It is done recursively, so make sure that there are no cycles!
[EppicConfig]

#################################
#### Run-specific variables #####
#################################
# These need to be updated before every run

## Run-specific variables

# Uniprot Date. This is used as the basis for the database name and many paths.
db=2016_09

# Mysql database names
#uniprot_db=uniprot_{db}
eppic_db=eppic3_{db}_test

#################################
#### Host-specific variables ####
#################################
# These should be specific to each host

# Mysql host (default 127.0.0.1)
# Credentials must be defined in credentials.conf
#mysql_host=127.0.0.1

# EPPIC output files
wui_files=./wui/files3_{db}_test


## Vars for running EPPIC

# Location of generated config file
eppic_cli_conf_file = ./eppic_cli_{db}.conf

# EPPIC source directory
# May be omitted if all JAR files below are specified
eppic_source_dir=./eppic-src

#
blast_db_dir = ./uniprot/uniprot_15.11

blast_cache_dir = ./blast_cache/uniprot_2015_03

# Local PDB cache
#local_cif_dir = ./pdb/data/structures/all/mmCIF

# Path to SIFTS file
#sifts_file={blast_db_dir}/pdb_chain_uniprot.lst


## Vars for the WUI
# Jetty Location
#jetty_base=/home/spencer/dev/eppic-base


## External Dependencies

blastclust = /nfs/data/software/packages/blast-2.2.18/bin/blastclust
blast_data = /nfs/data/software/packages/blast-2.2.18/data
blastp = /nfs/data/software/packages/ncbi-blast-2.2.31+/bin/blastp
clustalo = /nfs/data/software/bin/clustalo
pymol = /afs/psi.ch/project/strucbiol/xsoft/pymol-v1.8.0.6_64/pymol
graphviz = /usr/bin/dot

#################################
######## Global variables #######
#################################
# Relative paths that should be the same on all hosts
# These can generally be left at the default.

# JAR files
#eppic_version=3.0-SNAPSHOT
#eppic_cli_jar={eppic_source}/eppic-cli/target/uber-eppic-cli-{eppic_version}.jar
#eppic_db_jar={eppic_source}/eppic-dbtools/target/uber-eppic-dbtools-{eppic_version}.jar



[scheduler]
state_path = /data/spencer/eppic/luigid/state.pickle
[core]
scheduler_host = localhost
scheduler_port = 8090
[SGEEppicCli]
# Merlin settings
#job_format = source activate luigi && python {0} "{1}" "{2}"
#shared_tmp_dir = /scratch/bliven_s/luigi_tmp
#no_tarball = True
